* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 0px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    background-attachment: fixed;
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
}

header h1 {
    display: inline-block;
    background-color: cornflowerblue;
    background-position: left;
    color: black;
    border: 7px solid cornflowerblue;
    border-left: 50px solid cornflowerblue; 
}

header a {
    color: cornflowerblue;
    text-decoration: none;
    border-bottom: cornflowerblue 3px solid;
}

header nav {
    padding: 0 15px;
    margin: 7px;
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 35px;
}

header nav ul li a:hover {
    background-color: cornflowerblue;
    color: black;
    border-radius: 5px;
}

.intro {
    background-image: url("../images/intro.jpg");
    height: 300px;
    display: flex;
    background-size: auto;
    background-position: 80%;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    top: 0;
}

.intro h1 {
    color: cornflowerblue;
    background-color: black;
    display: flex;
    margin-left: 800px;
    margin-top: 250px;
    margin-bottom: 10px;
    border: 5px solid black;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    height: 100px; 
    padding: 20px;
}

.about-me h2 {
    display: flex;
    color: navy;
    margin-right: 25px;
    border-right: 3px solid navy;
    padding: 0 9px 0px 0px;
    height: 50px;
}

.about-me p {
    color: navy;
    position: absolute;
    left: 150px;
    top: 1;
}

.my-work {
    height: 800px;
    padding: 20px;
    display: flex;
}
 
.my-work h2 {
    color: navy;
    float: left;
    margin-right: 25px;
    border-right: 3px solid navy;
    padding: 0 30px;
    height: 700px;
}

.img-1 {
    background-image: url("../images/run-buddy.jpg");
    display: inline-block;
    background-size: 700px;
    height: 700px; 
    width: 50%;
    border: 3px solid cornflowerblue;
    margin-right: 20px;
}


.p-1 {
    display: inline-block;
    background-color: cornflowerblue;
    border: 7px solid cornflowerblue;
    border-left: 20px solid cornflowerblue;
    position: relative; 
    top: 600px;
}

.img-2 {
    background-image: url("../images/horiseon.png");
    display: inline-block;
    background-size: 700px;
    height: 700px; 
    width: 50%;
    border: 3px solid cornflowerblue;
}



.p-2 {
    display: inline-block;
    background-color: cornflowerblue;
    border: 7px solid cornflowerblue;
    border-left: 20px solid cornflowerblue;
    position: relative; 
    top: 600px;
} 

footer {
    background-color: black;
    color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

footer h2 {
    border-right: 3px solid cornflowerblue;
    margin-top: 30px;
    height: 35px;
    padding: 3px 7px;
    margin-bottom: 0;
}

footer p {
    border-bottom: 3px solid cornflowerblue;
    margin-top: 30px;
    margin-left: 100px;
    height: 30px;
    padding-top: 5px;
    margin-bottom: 0;
}

footer a {
    color: cornflowerblue;
    border-bottom: 3px solid cornflowerblue;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 300px;
    height: 30px;
    padding-top: 5px;
    margin-bottom: 0;
}

@media  screen and (max-width: 980px) {
    footer p {
        margin-left: 50px;
    }

    footer a {
        margin-left: 150px;
    }
}

@media screen and (max-width: 768px) {
    header nav ul li {
        margin-left: 15px;
    }

    footer p {
        margin-left: 25px;
    }

    footer a {
        margin-left: 100px;
    }
}

@media screen and (max-width: 575px) {
    header {
        padding: 10px;
        padding-left: 0;
    }

    .intro h1 {
        height: 50%;
        font-size: 18px;
    }

    .about-me p {
        font-size: 14px;
    }
    
    footer h2 {
        padding: 3px;
    }

    footer p {
        margin-left: 15px;
    }

    footer a {
        margin-left: 20px;
    }
}

